// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'ProximaNova', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  color: $text;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s ease;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent;
  }
  &:active {
    color: $accent;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    // max-width: 970px;
  }
  @media only screen and (max-width: 992px) {
    // max-width: 750px;
  }
  @media only screen and (max-width: 768px) {
    // max-width: 540px;
    padding: 0 15px;
  }
  @media only screen and (max-width: 480px) {
    // max-width: none;
    padding: 0 5px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ProximaNova', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a.btn,
input.btn {
  position: relative;
  display: block;
  padding: 10px;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  z-index: 1;
  transition: all 0.5s ease;
}

// all buttons
a.btn:before,
input.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #021533;
  z-index: -1;
  transition: all 0.5s ease;
}

a.btn:hover,
a.btn:active,
input.btn:hover,
input.btn:active {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}

a.btn:hover:before,
a.btn:active:before,
input.btn:hover:before,
input.btn:active:before {
  width: 100%;
}

a.btn:focus,
input.btn:focus {
  text-decoration: none;
  background-color: #021533;
}

// all section's titles
.section-title > h2 {
  color: $default;
  text-transform: uppercase;
  line-height: 26px;
  margin-top: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $default;
}

// all sections
.section {
  // position: absolute;
  // width: 40%;
  // left: 30%;
  // height: 570px;
  // margin: 180px 0px 20px 10px;
  // padding: 45px 45px 20px 45px;
  background: url(../img/bg-sections.png) repeat-x right top #f4f4f4;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  border-bottom: 15px solid #f4f4f4;
  border-top: 6px solid #111;
  // opacity: 0;
  transition: all 0.5s ease;

  &__title {
  }
}

.to-top {
  position: fixed;
  bottom: 50px;
  height: 29px;
  width: 29px;
  right: 35px;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.66);
  display: none;
  z-index: 8888;

  &:hover {
    text-transform: none;
    color: #000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.77);
  }

  &__icon {
    line-height: 29px;
    font-size: 14px;
  }
}

// perfect scrollbar
.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.8;
}

.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-y,
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  width: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  right: 2px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 8px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y:active {
  width: 8px;
}