// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'ProximaNova', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  color: $text;
  background: url(../img/bg-body.png) no-repeat center center fixed;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s ease;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent;
  }
  &:active {
    color: $accent;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  position: relative;
  padding-bottom: 80px;
  min-height: 680px;
  max-height: none;

  @media only screen and (max-width: 1200px) {
    // max-width: 970px;
  }
  @media only screen and (max-width: 992px) {
    padding: 0 30px;
    // max-width: 750px;
  }
  @media only screen and (max-width: 768px) {
    padding: 0 20px;
    // max-width: 540px;
  }
  @media only screen and (max-width: 480px) {
    max-width: none;
    padding: 0 5px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

// all buttons
.btn {
  position: relative;
  display: block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  z-index: 1;
  transition: padding 0.5s ease;
  font-weight: 700;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $default;
    z-index: -1;
    transition: width 0.5s ease;
  }

  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;

    @media only screen and (max-width: 992px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &:before {
      width: 100%;
    }
  }

  &:focus {
    text-decoration: none;
    background-color: $default;
  }
}

.section-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 45px 45px 20px 45px;

  @media only screen and (max-width: 1200px) {
    padding: 45px 20px 20px 20px;
  }
  @media only screen and (max-width: 992px) {
    padding: 45px 45px 20px 45px;
  }
}

// all sections
.section {
  position: absolute;
  width: 41%;
  top: 0;
  left: 30%;
  height: 570px;
  // max-height: 570px;
  margin: 180px 0px 20px 10px;
  background: url(../img/bg-sections.png) repeat-x right top #f4f4f4;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  border-bottom: 15px solid #f4f4f4;
  border-top: 6px solid #111;
  opacity: 0;
  transition: opacity 0.5s ease, margin-top 0.5s ease, left 0.5s ease;

  // all sections titles
  &__title {
    color: $default;
    text-transform: uppercase;
    line-height: 26px;
    margin: 0 0 20px 0;
    padding-bottom: 10px;

    border-bottom: 1px solid $default;
  }

  @media only screen and (max-width: 1200px) {
    height: 600px;
    margin-top: 50px;
  }
  @media only screen and (max-width: 992px) {
    position: static;
    width: 100%;
    height: 100%;
    opacity: 1;
    margin-left: 0;
    margin-top: 20px;
  }
  @media only screen and (max-width: 480px) {
    margin: 0px 0px 20px 0px;
    padding: 15px;
  }
}

// передвижение секций
.s-home.move {
  left: 16%;
}

.s-main-mnu.move {
  left: 1%;
}

.s-resume.move,
.s-skills.move,
.s-portfolio.move,
.s-contact.move {
  left: 57%;
  opacity: 1;
  z-index: 100;
}

// scroll to top
.to-top {
  position: fixed;
  bottom: 50px;
  height: 29px;
  width: 29px;
  right: 35px;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.66);
  display: none;
  z-index: 8888;

  @media only screen and (max-width: 768px) {
    right: 22px;
    background-color: rgba(2, 21, 51, 0.55);
    color: #fff;

    &:hover {
      background-color: rgba(2, 21, 51, 0.66);
    }
  }

  &:hover {
    text-transform: none;
    color: #000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.77);
  }

  &__icon {
    line-height: 29px;
    font-size: 14px;
  }
}

// scroll
.ps__thumb-y {
  width: 10px;
  background-color: #aaa;
}
