// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 14px;
  // line-height: 1.8;
  font-family: 'ProximaNova', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  color: $text;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s ease;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent;
  }
  &:active {
    color: $accent;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    // max-width: 970px;
  }
  @media only screen and (max-width: 992px) {
    // max-width: 750px;
  }
  @media only screen and (max-width: 768px) {
    // max-width: 540px;
    padding: 0 15px;
  }
  @media only screen and (max-width: 480px) {
    // max-width: none;
    padding: 0 5px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ProximaNova', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

// all section's titles
.section-title > h2 {
	color: $default;
	text-transform: uppercase;
	line-height: 26px;
	margin-top: 0 0 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid $default;
}

// all sections
.section {
	// position: absolute;
	// width: 40%;
	// left: 30%;
	// height: 570px;
	// margin: 180px 0px 20px 10px;
	// padding: 45px 45px 20px 45px;
	background: url(../img/bg-sections.png) repeat-x right top #f4f4f4;
	box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
	border-bottom: 15px solid #f4f4f4;
	border-top: 6px solid #111;
	// opacity: 0;
	transition: all 0.5s ease;
}