// ----------------------------------------------
//		Section Home
// ----------------------------------------------
.s-home {
  opacity: 1;
  margin-left: 0;
  z-index: 120;
  padding: 45px 45px 20px 45px;

  @media only screen and (max-width: 1200px) {
    padding: 45px 25px 20px 25px;
  }
  @media only screen and (max-width: 992px) {
    padding: 45px 45px 20px 45px;
  }

  &__photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    border-radius: 10em;
    border: 6px solid #ddd;
  }

  &__descr {
    text-align: center;
  }

  &__title {
    margin-top: 0;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: $default;

    &_accent {
      font-weight: bold;
      color: $accent;
    }
  }

  &__subtitle {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  &__text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 300;

    @media only screen and (max-width: 1200px) {
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }

  &__hr {
    border: none;
    height: 1px;
    width: 100%;
    background: url(../img/hr.png) no-repeat center center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__contacts {
    margin-bottom: 12px;
  }
}

.contacts {
  border-radius: 5px;
  background: url(../img/s-home-contact.png) no-repeat center center $accent;

  &__email {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    font-weight: 300;
  }

  &__phone,
  &__email {
    @media only screen and (max-width: 1200px) {
      display: block;
      margin-top: 5px;
    }
    @media only screen and (max-width: 992px) {
      display: inline-block;
      margin-top: 0;
    }
    @media only screen and (max-width: 480px) {
      display: block;
      margin-top: 5px;
    }
  }
}

.social-icons {
  &__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background: #333333;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    margin-right: 5px;
    transition: color 0.5s ease;

    &:hover {
      background-color: lighten(#333333, 5%);
      color: $accent;
    }
  }
}
