// ----------------------------------------------
//		Section Resume
// ----------------------------------------------

.s-resume {


	&__link {
		background-color: #008c8a;
		display: inline-block;
		padding: 10px 20px;
		font-weight: 300;
		font-size: 9px;
		margin-right: 5px;

		&:before {
			background-color: $default;
		}
	}

	&__footer {
		border-top: 1px solid #ccc;
		padding-top: 20px;
	}

	&__blockquote {
		font-size: 11px;
		color: #444;
		margin: 30px 0 10px 0;
		padding-top: 10px;
		width: 100%;
		border-top: 1px solid #ccc;
		font-weight: 300;

		&_italic {
			font-style: italic;
		}
	}
}

.education-list {

	&__title {
		color: $accent;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -1px;
		padding: 5px 0 5px 15px;
		margin-top: 30px;
		margin-bottom: 10px;
		border-bottom: none;
		text-transform: none;
		border-left: 4px solid $accent;
	}
	
	&__item {
		padding: 15px;
		border: 4px double #ccc;
		margin-bottom: 15px;
	}

	&__item-title {
		margin: 0 0 8px 0;
		padding-left: 0;
		line-height: 22px;
		letter-spacing: -1px;

		
	}
	&__item-subtitle {
		font-family: 'ProximaNova', sans-serif;
		font-size: 10px;
		color: #555;
		line-height: 15px;
		margin-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
		font-weight: 300;
		font-style: italic;
	}
	&__item-text {
			font-weight: 300;;
	}
}


.experience-list {
	margin-bottom: 40px;

	&__title {
		color: $accent;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -1px;
		padding: 5px 0 5px 15px;
		margin-top: 30px;
		margin-bottom: 10px;
		border-bottom: none;
		text-transform: none;
		border-left: 4px solid $accent;
	}
	&__item {
		padding: 15px;
		border: 4px double #ccc;
		margin-bottom: 15px;
	}
	&__item-title {
		margin: 0 0 8px 0;
		padding-left: 0;
		line-height: 22px;
		letter-spacing: -1px;
	}
	&__item-subtitle {
		font-family: 'ProximaNova', sans-serif;
		font-size: 10px;
		color: #555;
		line-height: 15px;
		margin-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
		font-weight: 300;
		font-style: italic;
	}
	&__item-text {
			font-size: 12px;
			font-weight: 300;;
	}
}

.testimonials-list {
	&__title {
		color: $accent;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -1px;
		padding: 5px 0 5px 15px;
		margin-top: 30px;
		margin-bottom: 10px;
		border-bottom: none;
		text-transform: none;
		border-left: 4px solid $accent;
	}

	&__item-content{
		position: relative;
		background: url('../img/bgmask2.png') no-repeat center center $accent;
		color: #ffffff;
		padding: 20px;
		border-radius: 10px;
		width: 100%;

		&:after {
			content: '';
			position: absolute;
			height: 0;
			width: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $accent;
			left: 50%;
			margin-left: -10px;
			bottom: -7px;
		}
	}

	&__item {
		text-align: center;
		padding: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__item-text {
		font-family: 'ProximaNova', sans-serif;
		font-size: 13px;
		line-height: 16px;
		margin: 0 0 10px;
		font-weight: 300;
	}

	&__item-img-wrap {
		width: 110px;
		height: 110px;
		overflow: hidden;
		margin: 30px auto 15px;
	}

	&__item-img {
		width: 100%;
		border-radius: 10em;
		border: 6px solid #ddd;
	}

	&__item-author {
		font-size: 15px;
		margin: 15px 0 0px;
		font-weight: 700;
	}

	&__item-firm {
		font-weight: 300;
		font-size: 10px;
		margin: 0;
		text-transform: uppercase;
	}
}

