// ----------------------------------------------
//		Section Skills
// ----------------------------------------------
.slills-items {
  &__item {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__item-title {
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
    border-bottom: 1px dotted #021533;
    padding-bottom: 5px;
    font-size: 18px;
  }
}

.skills-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__progress {
    margin-bottom: 10px;
  }
}

.progress {
  font-family: 'ProximaNova', sans-serif;
  position: relative;
  height: 25px;
  font-weight: 300;

  &__progress-bar {
    background-color: #08aeac;

    &_black {
      background-color: #021533;
    }
    &_red {
      background-color: #d9212a;
    }
  }

  &__progress-type {
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding: 3px 30px 2px 10px;
    color: #ffffff;
    background-color: rgba(25, 25, 25, 0.2);
  }

  &__progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 700;
    font-family: 'ProximaNova', sans-serif;
    padding: 3px 10px 2px;
    color: #888;
    font-size: 14px;
  }
}
