@import 'fonts';
@import '../libs/normalize/normalize';
@import '../libs/bootstrap/bootstrap-bars';
@import '../libs/fontello/fontello';
@import '../libs/tiny-slider/tiny-slider.min';
@import '../libs/perfect-scrollbar/perfect-scrollbar';

@import 'vars';
@import 'common';
@import 'nav';
@import 'home';
@import 'resume';
@import 'skills';
@import 'portfolio';
@import 'contacts';


